<h1 class="card_write">Contact Us</h1>
<div class="contact">
  <div class="contact-card">
    <div class="contact-card-left">

      <div class="contact_info">
        <div class="contact_item">
          <h3>Visit Us</h3>
          <p>123 Law Street</p>
          <p>Brew City, BC 12345</p>
        </div>
        <div class="contact_item">
          <h3>Opening Hours</h3>
          <p>Monday - Friday: <br>9:00 AM - 7:00 PM</p><br>
          <p>Saturday - Sunday: <br> 10:00 AM - 5:00 PM</p>
        </div>
        <div class="contact_item">
          <h3>Get in Touch</h3>
          <p>Phone: (555) 123-4567</p>
          <p>Email: info&#64;lawworld.com</p>
        </div>
      </div>
    </div>
  </div>
  <!-- contact-card-left end -->
  <br>
  <div class="contact-card-right">

    <form action="#" class="contact_form">
      <div class="form_group">
        <label id="name">Name</label>
        <input type="text" placeholder="Your Name" required>
      </div>

      <div class="form_group">
        <label id="email">Email</label>
        <input type="email" placeholder="Your Email" required>
      </div>

      <div class="form_group">
        <label id="mess">Message</label>
        <textarea rows="6" cols="20" placeholder="Your Message ..." required></textarea>
      </div>
      <button type="submit">Send Your Message</button>
    </form>
  </div>
  <!-- contact-card-right end -->
</div>
<!-- contact card end -->
<!-- </div> -->
<!-- contact end -->
<div class="line"></div>
