<h1 class="card_write">Contact Us</h1>
<div class="contact">
  <div class="contact-card">
    <div class="contact-card-left">

      <div class="contact_info">
        <div class="contact_item">
          <h3>Visit Us</h3>
          <p>123 Law Street</p>
          <p>Brew City, BC 12345</p>
        </div>
        <div class="contact_item">
          <h3>Opening Hours</h3>
          <p>Monday - Friday: <br>9:00 AM - 7:00 PM</p><br>
          <p>Saturday - Sunday: <br> 10:00 AM - 5:00 PM</p>
        </div>
        <div class="contact_item">
          <h3>Get in Touch</h3>
          <p>Phone: (555) 123-4567</p>
          <p>Email: info&#64;lawworld.com</p>
        </div>
      </div>
    </div>
  </div>
  <!-- contact-card-left end -->
  <br>
  <div class="contact-card-right">

    <form action="#" class="contact_form">
      <div class="form_group">
        <label id="name">Name</label>
        <input type="text" placeholder="Your Name" required>
      </div>

      <div class="form_group">
        <label id="email">Email</label>
        <input type="email" placeholder="Your Email" required>
      </div>

      <div class="form_group">
        <label id="mess">Message</label>
        <textarea rows="6" cols="20" placeholder="Your Message ..." required></textarea>
      </div>
      <button type="submit">Send Your Message</button>
    </form>
  </div>
  <!-- contact-card-right end -->
</div>
<!-- contact card end -->
<!-- </div> -->
<!-- contact end -->
<div class="line"></div>

<!-- 2nd page code when everything is done then it should be leave here -->

<div class="form_container">
  <div class="profile_section">
    <img src="../../../assets/icon_svg/circle-user-solid.svg" class="profile_picture" alt="">
    <input type="text" placeholder="First name">
    <input type="text" placeholder="Last name">
    <input type="date">
    <div class="gender">
      <label><input type="radio" name="gender" value="male"> Male</label>
      <label><input type="radio" name="gender" value="female"> Female</label>
    <!-- </div> -->
  </div>

  <div class="class-section">
    <h2>Class Information</h2>
    <input type="text" placeholder="Class">
    <div class="program-options">
      <label><input type="radio" name="program" value="graphic"> Graphic & Web Design</label>
      <label><input type="radio" name="program" value="digital"> Digital Marketing</label>
      <label><input type="radio" name="program" value="system"> System Administration</label>
      <label><input type="radio" name="program" value="programming"> Programming</label>
      <label><input type="radio" name="program" value="msoffice"> MS Office</label>
      <label><input type="radio" name="program" value="3dmodeling"> 3D Modeling</label>
    </div>
    <div class="link-container">
      <select>
        <option value="">Select Link</option>
        <option value="https://www.google.com">Google</option>
        <option value="https://www.youtube.com">YouTube</option>
        <option value="https://www.facebook.com">Facebook</option>
      </select>
      <input type="text" placeholder="Enter Link">
  <!--   </div> -->
  <!-- </div> -->

  <div class="contact-section">
    <h2>Contact Details</h2>
    <input type="number" placeholder="Contact number">
    <input type="email" placeholder="Mail">
    <input type="text" placeholder="Address">
    <textarea placeholder="Note"></textarea>
    <button type="submit">SUBMIT</button>
  </div>
</div>
