<div class="slide_container">
  <div class="form_container">
    <img src="../../../assets/icon_svg/circle-user-solid.svg" class="img_contain"alt="">

    <form>
      <label for="name">First Name</label>
      <input type="text" placeholder="First Name">
      <br>

      <label for="name">Last Name</label>
      <input type="text" placeholder="Last Name">

        <label for="d_name" id="d_name" >Date</label>
      <input type="date">

      <div class="form-group">
        <select id="gender" class="custom-select">
          <option value="" disabled selected>select one</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
    </form>
  </div>
  <!-- form_container end -->

  <div class="form_contain">
    <div class="form_img_contain">
      <img src="../../../assets/icon_svg/graduation-cap-solid.svg" alt="">
    </div>

    <form>
      <label for="name">Class</label>
      <input type="text" placeholder="class">
      <br>

      <h2>Program</h2>

      <ul class="program-list">
        <li class="selected">Graphic & Web design</li>
        <li>Digital Marketing</li>
        <li>System Administration</li>
        <li>Programming</li>
        <li>MS Office</li>
        <li>3D Modelling</li>
      </ul>

      <div class="dropdown">
        <div class="dropdown-input">Link</div>
        <div class="dropdown-content">
          <a href="https://google.com">Link 1</a>
          <a href="https://example.com/2">Link 2</a>
          <a href="https://example.com/3">Link 3</a>
          <a href="https://example.com/4">Link 4</a>
        </div>
      </div>

    </form>
  </div>
  <!-- form_contain end -->
  <div class="card_contact">
    <form>
      <label for="con">Contact Number</label>
      <input type="text" name="con" id="con" placeholder="Number">

      <label for="mail">Email</label>
      <input type="email" name="mail" id="mail" placeholder="Email">

      <label for="add">Address</label>
      <input type="text" name="add" id="add" placeholder="Address">

      <label for="note">Note</label>
      <textarea id="note" name="note" placeholder="Your Note"></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
  <!-- card_contact end -->

</div>
<!-- slide_container end -->

<div class="back-btn">
  <a routerLink="../contact/" class="back-button">
    <button class="elegant-btn" style="float: right; margin-left: 10px;">Back</button>
  </a>

  <a routerLink="../../not-found/">
    <button type="submit" class="elegant-btn">Submit</button>
  </a>
</div>
