<div class="about_component">
  <div class="about_left">
    <h1>About Us</h1>
    <p class="about_text">
      We are a dynamic law firm with a proven track record of success. Our team of experienced attorneys provides expert legal counsel across a wide range of practice areas, ensuring you receive the highest quality representation.
    </p>

    <p class="about_text">
      We are committed to providing ethical, efficient, and results-oriented legal services. Our values of integrity, compassion, and client advocacy guide our practice and drive us to achieve the best possible outcomes for our clients.
    </p>
  </div>
  <div class="about_right">
    <div class="about_image_grid">
      <div class="grid_item large">
        <img src="../../../assets/law_images/law7.jpg" alt="">
      </div>
      <div class="grid_item">
        <img src="../../../assets/law_images/law4.jpg" alt="">
      </div>
      <div class="grid_item">
        <img src="../../../assets/law_images/law1.jpg" alt="">
      </div>
      <div class="grid_item">
        <img src="../../../assets/law_images/law3.jpg" alt="">
      </div>
      <div class="grid_item">
        <img src="../../../assets/law_images/law2.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="div highlight_section">
  <h2>Why Choose Us</h2>
  <div class="about_highlights">
    <div class="highlight_item">
      <div class="highlight_img">
        <img src="../../../assets/law_images/law2.jpg" alt="">
      </div>
      <div class="highlight_content">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore.</p>
      </div>
    </div>
    <div class="highlight_item">
      <div class="highlight_img">
        <img src="../../../assets/law_images/law4.jpg" alt="">
      </div>
      <div class="highlight_content">
        <h3>Expert</h3>
        <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore.</p>
      </div>
    </div>
    <div class="highlight_item">
      <div class="highlight_img">
        <img src="../../../assets/law_images/law5.jpg" alt="">
      </div>
      <div class="highlight_content">
        <h3>Atmosphere</h3>
        <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim.</p>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>
