.text-center h1, .lead{
  text-align: center;
  margin: 2rem 2rem;
  text-transform: uppercase;
}

.lead{
  padding-top: 1rem;
  font-size: 2.5rem;
   font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.line{
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.lines{
  margin-top: -5rem;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.home_aside{
  display: flex;
  margin: 1rem auto;
  max-width: 100%;
  padding: 2rem;
}

.home_component_right img{
  width: 40rem;
  height: 40rem;
  margin-top: -4rem;
}

.left_write{
  width: 100%;
  margin: 4rem auto;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 2.3rem;
  word-spacing: 1.6rem;
  text-align: center;
  line-height: 1.6;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.card{
  margin: 1rem 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #aba19c;
}

.card .card_contain{
  display: flex;
  flex-direction: column;
}

.card .card_template{
  padding: 2rem;
  width: 24%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.card .card_template:hover{
  transition: 0.9s;
}

.card_template img{
width: 100%;
  margin: 0 auto;
  border: 0.1rem solid black;
}

.card .card_title{
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: black;
  margin: 0 auto;
  padding: 1rem;
}

.card_testimonal{
  color: blue;
}

.card_line{
  border-top: 2px solid pink;
  width: 100%;
  margin: 0 auto;
}

.card_para{
  text-align: center;
}
