<div class="home_component">
  <header class="text-center my-5">
    <h1>Welcome to NetJustice and LawWeb Dynamics</h1>
    <p class="lead">Connects technology with the legal system.A dynamic and memorable name.</p>
  </header>
</div>
<!--   <div class="image-gallery"> -->
<!--     <!-- Thumbnail Grid -->
<!--     <div class="thumbnail-grid"> -->
<!--       <img -->
<!--         *ngFor="let image of images; let i = index" -->
<!--         [src]="image" -->
<!--         alt="Thumbnail" -->
<!--         class="thumbnail" -->
<!--         (click)="openGallery(i)" -->
<!--       /> -->
<!--     </div> -->
<!---->
<!--     <!-- Fullscreen Gallery View -->
<!--     <div class="fullscreen-gallery" *ngIf="isGalleryOpen"> -->
<!--       <div class="overlay" (click)="closeGallery()"></div> -->
<!---->
<!--       <div class="image-container"> -->
<!--         <button class="prev-button" (click)="prevImage()" [disabled]="currentImageIndex === 0"> -->
<!--           &#10094; -->
<!--         </button> -->
<!---->
<!--         <img [src]="images[currentImageIndex]" alt="Current Image" class="current-image" /> -->
<!---->
<!--         <button -->
<!--           class="next-button" -->
<!--           (click)="nextImage()" -->
<!--           [disabled]="currentImageIndex === images.length - 1" -->
<!--         > -->
<!--           &#10095; -->
<!--         </button> -->
<!--       </div> -->
<!---->
<!--       <button class="close-button" (click)="closeGallery()">✖</button> -->
<!--     </div> -->
<!--   </div> -->
<!---->
<!-- </div> -->
<!---->
