.text-center h1, .lead{
  text-align: center;
  margin: 2rem 2rem;
  text-transform: uppercase;
}

.home_aside{
  display: flex;
  margin: 1rem auto;
  max-width: 100%;
  padding: 2rem;
}

.home_component_right img{
  width: 50rem;
  height: 50rem;
}
