<div class="home_component">
  <header class="text-center my-5">
    <h1> Net Justice and Law Web Dynamics</h1>
    <p class="lead">Connects technology with the legal system. A dynamic and memorable name.</p>
    <p class="lead">Welcome to our law firm's homepage.<br> Below, you will find information about our top lawyers and achievements</p>
  </header>
  <div class="line"></div>
  <div class="home_aside">
    <div class="home_component_left">
      <p class="left_write">"Justice is the cornerstone of a thriving society. At Elite Law Firm, we stand for integrity, dedication, and excellence. Our expert attorneys bring years of experience to ensure the best outcomes for our clients. Navigating the complexities of law can be daunting. Our firm provides clear,compassionate guidance, empowering you with the knowledge and support you need."</p>
    </div>
    <div class="home_component_right">
      <img src="../../../assets/law_images/lawyer1.png" alt="">
    </div>
  </div>
  <div class="lines"></div>
</div>

<div class="card">
  <div class="card_template">
    <img src="../../../assets/law_images/fami.jpg" alt="">
    <div class="card_contain">
      <p class="card_title">Family Law</p>
      <p class="card_testimonal">Aisha Sharma</p>
      <p class="card_para">Aisha is a skilled family lawyer specializing in divorce, child custody, and adoption.</p>
      <div class="card_line"></div>
      <p class="card_testimonal">Rajesh Kumar</p>
      <p class="card_para">He is a strong negotiator and advocate for his clients' rights, like Aisha.</p>
    </div>
  </div>

  <div class="card_template">
    <img src="../../../assets/law_images/crimi.jpg" alt="">
    <div class="card_contain">
      <p class="card_title">Criminal Law</p>
      <p class="card_testimonal">Meera Joshi</p>
      <p class="card_para">Meera is a dedicated criminal defense attorney with a proven track record of success.</p>
      <div class="card_line"></div>
      <p class="card_testimonal">Siddharth Reddy</p>
      <p class="card_para">He is a former prosecutor who now defends individuals accused of crimes.</p>
    </div>
  </div>

  <div class="card_template">
    <img src="../../../assets/law_images/cor.jpg" alt="">
    <div class="card_contain">
      <p class="card_title">Corporate Law</p>
      <p class="card_testimonal">Anika Patel</p>
      <p class="card_para">She is known for her and businesses of all sizes on a wide range of corporate matters.</p>
      <div class="card_line"></div>
      <p class="card_testimonal">Vikram Singh</p>
      <p class="card_para">Vikram specializes in corporate law with a focus on startups and technology companies. </p>
    </div>
  </div>

  <div class="card_template">
    <img src="../../../assets/law_images/immi.jpg" alt="">
    <div class="card_contain">
      <p class="card_title">Immigration Law</p>
      <p class="card_testimonal">Nita Desai</p>
      <p class="card_para">Nita is an experienced immigration lawyer.She is passionate about helping her clients.</p>
      <div class="card_line"></div>
      <p class="card_testimonal">Rohan Gupta</p>
      <p class="card_para"> Rohan specializes in business immigration and helps companies secure visas for foreign workers.</p>
    </div>
  </div>
</div>

<div class="card_container">
  <div class="sub_card_container">
    <div class="dots">
      <a href="#">
        <img src="../../../assets/icon_svg/ellipsis-vertical-solid.svg" alt="" class="dots-img">
      </a>
    </div>

    <h3 id="name">John Smith</h3>
    <div class="photo">
      <img src="../../../assets/law_images/law4.jpg" alt="">
      <p class="span">John Smith</p>
    </div>
    <a routerLink="./details"><button class="button">More Details</button></a>
  </div>
  <!-- sub_card_container end -->

  <div class="sub_card_container">
    <div class="dots">
      <a href="#">
        <img src="../../../assets/icon_svg/ellipsis-vertical-solid.svg" alt="" class="dots-img">
      </a>
    </div>

    <h3 id="name">Meera Joshi</h3>
    <div class="photo">
      <img src="../../../assets/law_images/law4.jpg" alt="">
      <p class="span">Meera Joshi</p>
    </div>
    <a routerLink="./details"><button class="button">More Details</button></a>
  </div>
  <!-- sub_card_container end -->

  <div class="sub_card_container">
    <div class="dots">
      <a href="#">
        <img src="../../../assets/icon_svg/ellipsis-vertical-solid.svg" alt="" class="dots-img">
      </a>
    </div>

    <h3 id="name">Anika Patel</h3>
    <div class="photo">
      <img src="../../../assets/law_images/law4.jpg" alt="">
      <p class="span">Anika Patel</p>
    </div>
    <a routerLink="./details"><button class="button">More Details</button></a>
  </div>
  <!-- sub_card_container end -->

  <div class="sub_card_container">
    <div class="dots">
      <a href="#">
        <img src="../../../assets/icon_svg/ellipsis-vertical-solid.svg" alt="" class="dots-img">
      </a>
    </div>

    <h3 id="name">Rohan Gupta</h3>
    <div class="photo">
      <img src="../../../assets/law_images/law4.jpg" alt="">
      <p class="span">Rohan Gupta</p>
    </div>
    <a routerLink="./details/"><button class="button">More Details</button></a>
  </div>
  <!-- sub_card_container end -->
</div>
<!-- card_container end -->

<div class="testimonials-container">
  <div class="testimonial-card">
    <img src="../../../assets/law_images/law.jpg">
    <h3>John Smith</h3>
    <p class="quote-line">Successful Client</p>
    <div class="quote">
      “ The legal team was fantastic! They were very professional, responsive, and achieved the best possible outcome for my case. Highly recommend! ”
    </div>
    <div class="date">Dec 30, 2023</div>
  </div>

  <div class="testimonial-card">
    <img src="../../../assets/law_images/immi.jpg">
    <h3>Emily Brown</h3>
    <p class="quote-line">Satisfied Client</p>
    <div class="quote">
      “ I was impressed with their expertise and dedication. They explained everything clearly and made me feel confident throughout the entire process. ”
    </div>
    <div class="date">Dec 28, 2024</div>
  </div>

  <div class="testimonial-card">
    <img src="../../../assets/law_images/fami.jpg">
    <h3>David Lee</h3>
    <p class="quote-line">Happy Client</p>
    <div class="quote">
      “ They exceeded my expectations! Their strategic approach and strong advocacy led to a successful resolution. I'm grateful for their hard work. ”
    </div>
    <div class="date">Jan 15, 2025</div>
  </div>
</div>

<div class="stats-container">
  <div class="stats">
    <div class="stat">
      <h3>5,000+</h3>
      <p>Cases Won</p>
    </div>

    <div class="stat">
      <h3>20+</h3>
      <p>Experienced Lawyers</p>
    </div>

    <div class="stat">
      <h3>15M+</h3>
      <p>Dollars Recovered</p>
    </div>

    <div class="stat">
      <h3>100+</h3>
      <p>Practice Areas</p>
    </div>

  </div>
  <p class="join-community">Join our growing list of satisfied clients.</p>
</div>

<div class="line"></div>

