<div class="back-to-courses" (click)="goToCourses()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
  </svg>
</div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm7.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>
<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawyer.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Business Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm9.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Marraige Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm4.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Property Lawyer</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>
<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/law9.png" alt="">
  </div>

  <div class="details-info">
    <h1>Tax Lawyer</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm3.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Constitutional Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm2.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Admiralty Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm5.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Master of  Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial .
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="Line"></div>
