.details{
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  gap: 3rem;
}

.details-img{
  flex: 1;
  max-width: 500px;
}

.details-img img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details-img img:hover{
   transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(1.1);
  z-index: 2;
}

.details-info{
  flex: 1;
  padding: 1rem;
}

.description{
  color: #eceae9;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

li{
  color: #f6f5f4;
  list-style: none;
}

li::first-line{
  color: #32312F;
}

.price{
  width: 15%;
  color: #2c2826;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.9rem;
  border-top: 1px solid #57504c;
  border-bottom: 1px solid #57504c;
}

.Order-btn{
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1.6rem;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Merriweather, sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
  background-color:  #37322f;
  color: #d9d5d3;
}

.Order-btn:hover{
   transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(0.9);
  color: #221F1C;
  background-color: #C8C2BC;
}

.lines{
  margin-top: -2rem;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
}

.Line{
  margin-top: -1rem;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
}

@media(max-width:768px){

  .details{
    display: grid;
    flex-direction: column;
  }

  .details-info h1{
    text-align: center;
    color: #672611;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
  }

  .description{
    text-align: center;
    margin: 2rem auto;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #2f204a;
  }

  li{
    font-weight: 700;
    font-family: "Mulish",sans-serif;
    font-size: 1.9rem;
    gap: 1rem;
    margin: 1rem auto;
  }

  li::first-line{
    color: #3a2c36;
    margin: 1rem auto;
  }

  .price{
    text-align: center;
  width: 45%;
  margin: 1rem auto;
  }
}
