<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/law1.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>
<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/law2.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/law5.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/law8.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>
<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/law.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm6.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/law9.png" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="lines"></div>

<div class="details">
  <div class="details-img">
    <img src="../../../assets/law_images/lawfirm.jpg" alt="">
  </div>

  <div class="details-info">
    <h1>Criminal Law</h1>
    <p class="description">An online course covering Bharatiya Nyaya Sanhita 2023, Bharatiya Sakshya Adhiniyam 2023, and Bharatiya Nagarik Suraksha Sanhita 2023. The fee is ₹45,000, inclusive of GST.

      <li>
        Mens Rea: The mental state or intent behind committing a crime (e.g., intent, recklessness, negligence).
      </li>
      <li>
        Beyond a Reasonable Doubt: The standard of proof required to convict someone in a criminal trial.
      </li>
    </p>
    <p class="price">50,000/-</p>

    <a href="#"> <button class="Order-btn">Click Now</button></a>
  </div>

</div>

<div class="Line"></div>
