<div class="container">
  <header class="text-center my-5">
    <h1>Welcome to Law Firm Courses</h1>
    <p class="lead">Enhance your legal knowledge with our professional courses</p>
  </header>
  <div class="cards">
    <div class="card">
      <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint .</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint .</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint .</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint .</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint .</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint .</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
  </div>
</div>

