<div class="container">
  <header class="text-center my-5">
    <h1>Welcome to Law Firm Courses</h1>
    <p class="lead">Enhance your legal knowledge with our professional courses</p>
  </header>

  <div class="course_container">
    <h1 class="course_title"> Our Courses</h1>

    <div class="course_grid">
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Criminal Law</h3>
          <p class="price">45,000/-</p>
          <a routerLink="../details/">
            <button class="details-btn">View Details</button></a>
        </div>
      </div>
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law1.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Business Law</h3>
          <p class="price"></p>
          <a href="#"><button class="details-btn">View Details</button></a>
        </div>
      </div>
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law2.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Marraige Law</h3>
          <p class="price"></p>
          <a href="#"><button class="details-btn">View Details</button></a>
        </div>
      </div>
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law3.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Constitutional Law</h3>
          <p class="price"></p>
          <a href="#"><button class="details-btn">View Details</button></a>
        </div>
      </div>
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law4.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Tax Lawyer</h3>
          <p class="price"></p>
          <a href="#"><button class="details-btn">View Details</button></a>
        </div>
      </div>
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law5.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Property Law</h3>
          <p class="price"></p>
          <a href="#"><button class="details-btn">View Details</button></a>
        </div>
      </div>
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law6.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Master of Law</h3>
          <p class="price"></p>
          <a href="#"><button class="details-btn">View Details</button></a>
        </div>
      </div>
      <div class="course_item">
        <div class="course_item_img">
          <img src="../../../assets/law_images/law7.jpg" alt="">
        </div>
        <div class="course_item_content">
          <h3>Admiralty Law</h3>
          <p class="price"></p>
          <a href="#"><button class="details-btn">View Details</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>
